In [52]:
# import keras 
import pandas as pd
import numpy as np
import nltk
from spacy.lang.es.stop_words import STOP_WORDS
import spacy
from sklearn.feature_extraction.text import TfidfVectorizer

# nltk.download('stopwords')

pf = pd.read_json('subjectScores.json', encoding='utf-8')

pf.drop(['email'], axis=1, inplace=True)
pf = pf[pf['subject_score'] != 0]
pf.drop(['career'],axis=1, inplace=True)
pf.drop(['subject_career' ],axis=1, inplace=True)
pf.head()

,semester,keywords,subject,subject_semester,subject_score
86,2,[Fundamentos],Control Electrónico de Potencia,6,0.48
87,2,[Fundamentos],Microprocesadores,5,0.55
88,2,[Fundamentos],Sistemas automáticos de control,6,0.66
89,2,[Fundamentos],Sistemas de Comunicación,6,0.66
115,9,"[Optimización, Contable, costos, Social, Merca...",Inglés,1,0.07

In [53]:
# Convertir a minusculas
# pf['career'] = pf['career'].str.lower()
pf['keywords'] = [list (map(lambda x: x.lower(), y)) for y in pf['keywords']]
pf['subject'] = pf['subject'].str.lower()
# pf['subject_career'] = [carreras.lower().split(",") for carreras in pf['subject_career']]
pf.head()

,semester,keywords,subject,subject_semester,subject_score
86,2,[fundamentos],control electrónico de potencia,6,0.48
87,2,[fundamentos],microprocesadores,5,0.55
88,2,[fundamentos],sistemas automáticos de control,6,0.66
89,2,[fundamentos],sistemas de comunicación,6,0.66
115,9,"[optimización, contable, costos, social, merca...",inglés,1,0.07

In [54]:
# Eliminar stopwords
# pf['career'] = [" ".join([word for word in carreras.split() if word not in STOP_WORDS]) for carreras in pf['career']]
# pf['subject_career'] = [[" ".join([word for word in carreras.split() if word not in STOP_WORDS]) for carreras in carreras_list] for carreras_list in pf['subject_career']]
pf['subject'] = [" ".join([word for word in carreras.split() if word not in STOP_WORDS]) for carreras in pf['subject']]
pf.head()

,semester,keywords,subject,subject_semester,subject_score
86,2,[fundamentos],control electrónico potencia,6,0.48
87,2,[fundamentos],microprocesadores,5,0.55
88,2,[fundamentos],sistemas automáticos control,6,0.66
89,2,[fundamentos],sistemas comunicación,6,0.66
115,9,"[optimización, contable, costos, social, merca...",inglés,1,0.07

In [55]:
# Lemmatization
nlp = spacy.load("es_core_news_lg")
# pf['career'] = [ " ".join([token.lemma_ for token in nlp(carreras)]) for carreras in pf['career']]
pf['keywords'] = [[ " ".join([token.lemma_ for token in nlp(carreras)]) for carreras in carreras_list] for carreras_list in pf['keywords']] 
pf['subject'] = [ " ".join([token.lemma_ for token in nlp(carreras)]) for carreras in pf['subject']]
# pf['subject_career'] = [[ " ".join([token.lemma_ for token in nlp(carreras)]) for carreras in carreras_list] for carreras_list in pf['subject_career']]
pf.head()

,semester,keywords,subject,subject_semester,subject_score
86,2,[fundamento],control electrónico potencia,6,0.48
87,2,[fundamento],microprocesador,5,0.55
88,2,[fundamento],sistema automático control,6,0.66
89,2,[fundamento],sistema comunicación,6,0.66
115,9,"[optimización, contable, costo, social, mercad...",inglés,1,0.07

In [56]:
nlp = spacy.load("es_core_news_lg")
# pf['career'] = [palabra.vector.mean() for palabra in [nlp(carreras) for carreras in pf['career']]]

In [57]:
pf.head()

,semester,keywords,subject,subject_semester,subject_score
86,2,[fundamento],control electrónico potencia,6,0.48
87,2,[fundamento],microprocesador,5,0.55
88,2,[fundamento],sistema automático control,6,0.66
89,2,[fundamento],sistema comunicación,6,0.66
115,9,"[optimización, contable, costo, social, mercad...",inglés,1,0.07

In [58]:

pf['keywords'] = [" ".join(keywords) for keywords in pf['keywords']]
# pf['subject_career'] = [" ".join(carreras) for carreras in pf['subject_career']]
pf.head()

,semester,keywords,subject,subject_semester,subject_score
86,2,fundamento,control electrónico potencia,6,0.48
87,2,fundamento,microprocesador,5,0.55
88,2,fundamento,sistema automático control,6,0.66
89,2,fundamento,sistema comunicación,6,0.66
115,9,optimización contable costo social mercadeo in...,inglés,1,0.07

In [59]:
pf['keywords'] = [palabra.vector.mean() for palabra in [nlp(carreras) for carreras in pf['keywords']]]
# pf['subject_career'] = [palabra.vector.mean() for palabra in [nlp(carreras) for carreras in pf['subject_career']]]
pf['subject'] = [palabra.vector.mean() for palabra in [nlp(carreras) for carreras in pf['subject']]]
pf.head()

     semester  keywords   subject  subject_semester  subject_score
86          2  0.109261  0.138731                 6           0.48
87          2  0.109261  0.067578                 5           0.55
88          2  0.109261  0.123098                 6           0.66
89          2  0.109261  0.115780                 6           0.66
115         9  0.134643  0.117321                 1           0.07

In [60]:
# y = pf['subject_score']
# x = pf.drop(['subject_score'], axis=1)

In [61]:
# from sklearn.model_selection import train_test_split
# x_train, x_test, y_train, y_test = train_test_split(
#     x, y, test_size=.2, random_state=42)
# print(x_train.shape, y_train.shape)

In [62]:
# from sklearn. neural_network import MLPRegressor
# from sklearn.metrics import mean_squared_error
# from sklearn.metrics import mean_absolute_error
# from sklearn.metrics import r2_score

# mlp = MLPRegressor(hidden_layer_sizes=(600, 300, 150), max_iter=500, alpha=0.0001,
#                         solver='adam', verbose=10,  random_state=42,)
# mlp.fit(x_train, y_train)
# y_pred = mlp.predict(x_test)
# print('MSE: ', mean_squared_error(y_test, y_pred))
# print('MAE: ', mean_absolute_error(y_test, y_pred))
# print('R2: ', r2_score(y_test, y_pred))

In [63]:
# from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
# y_pred = model.predict(x_test)
# mse = mean_squared_error(y_test, y_pred)

# # Calcular el coeficiente de determinación (R-squared)
# r_squared = r2_score(y_test, y_pred)

# # Calcular el error absoluto medio (MAE)
# mae = mean_absolute_error(y_test, y_pred)

# # Imprimir las métricas
# print(f'Mean Squared Error (MSE): {mse}')
# print(f'R-squared (R²): {r_squared}')
# print(f'Mean Absolute Error (MAE): {mae}')

In [64]:
# from sklearn.preprocessing import MinMaxScaler 

# nuevo_dato = {
#     "career": "ingeniería de sistemas",
#     "semester": 6,
#     "keywords": [
#       "ecuaciones",
#     ],
#     "subject": "ecuaciones diferenciales",
#     "subject_career": "Administración de Empresas",
#     "subject_semester": 6
#   }

# nuevo_dato['career'] = nuevo_dato['career'].lower()
# nuevo_dato['keywords'] = list (map(lambda x: x.lower(), nuevo_dato['keywords']))
# nuevo_dato['subject'] = nuevo_dato['subject'].lower()
# nuevo_dato['subject_career'] = nuevo_dato['subject_career'].lower().split(",")

# nuevo_dato['career'] = " ".join([word for word in nuevo_dato['career'].split() if word not in STOP_WORDS])
# nuevo_dato['subject_career'] = [" ".join([word for word in carreras.split() if word not in STOP_WORDS]) for carreras in nuevo_dato['subject_career']]
# nuevo_dato['subject'] = " ".join([word for word in nuevo_dato['subject'].split() if word not in STOP_WORDS])

# nuevo_dato['keywords'] = [" ".join(keywords) for keywords in [nuevo_dato['keywords']]]
# nuevo_dato['subject_career'] = [" ".join(carreras) for carreras in [nuevo_dato['subject_career']]]

# # nuevo_dato['career'] = [palabra.vector for palabra in [nlp(carreras) for carreras in [nuevo_dato['career']]]]
# # nuevo_dato['subject'] = [palabra.vector for palabra in [nlp(carreras) for carreras in [nuevo_dato['subject']]]]
# # nuevo_dato['keywords'] = [palabra.vector for palabra in [nlp(carreras) for carreras in nuevo_dato['keywords']]]
# # nuevo_dato['subject_career'] = [palabra.vector for palabra in [nlp(carreras) for carreras in nuevo_dato['subject_career']]]

# scaler = MinMaxScaler()
# nuevo_dato['career'] = [palabra.vector.mean() for palabra in [nlp(carreras) for carreras in [nuevo_dato['career']]]]
# nuevo_dato['subject'] = [palabra.vector.mean() for palabra in [nlp(carreras) for carreras in [nuevo_dato['subject']]]]
# nuevo_dato['keywords'] = [palabra.vector.mean() for palabra in [nlp(carreras) for carreras in nuevo_dato['keywords']]]
# nuevo_dato['subject_career'] = [palabra.vector.mean() for palabra in [nlp(carreras) for carreras in nuevo_dato['subject_career']]]


# nuevo_dato = pd.DataFrame(nuevo_dato)
# # nuevo_dato = np.array(nuevo_dato)
# # print(nuevo_dato)
# scaler.fit_transform(nuevo_dato)
# nuevo_dato.head()

In [65]:
# y_pred = mlp.predict(nuevo_dato)
# print(y_pred)

In [66]:
from sklearn. neural_network import MLPRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

# carreras = [carrera for carrera in pf['career']]
# carreras = [[x] for x in carreras]

keywords = [keyword for keyword in pf['keywords']]
keywords = [[x] for x in keywords]

semester = [semester for semester in pf['semester']]
semester = [[x] for x in semester]

subject = [subject for subject in pf['subject']]
subject = [[x] for x in subject]

# subject_career = [subject for subject in pf['subject_career']]
# subject_career = [[x] for x in subject_career]

subject_semester = [subject for subject in pf['subject_semester']]
subject_semester = [[x] for x in subject_semester]

scores = [score for score in pf['subject_score']]
scores = [[x] for x in scores]

x = np.array(np.concatenate((keywords, semester, subject, subject_semester), axis=1))
y = np.array(scores)

In [69]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(
    x, y, test_size=0.2, random_state=42)
print(x_train.shape, y_train.shape)
mlp = MLPRegressor(hidden_layer_sizes=(600, 1200, 2400), max_iter=500, alpha=0.0001,
                        solver='adam', verbose=10,  random_state=42,)
mlp.fit(x_train, y_train)
y_pred = mlp.predict(x_test)
print('MSE: ', mean_squared_error(y_test, y_pred))
print('MAE: ', mean_absolute_error(y_test, y_pred))
print('R2: ', r2_score(y_test, y_pred))

(664, 4) (664, 1)

d:\Trabajo de grado\backend2\Backend_tutorias_fastAPI\myenv\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:1625: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Iteration 1, loss = 3.12240547
Iteration 2, loss = 0.34080631
Iteration 3, loss = 0.04739428
Iteration 4, loss = 0.03549892
Iteration 5, loss = 0.01774588
Iteration 6, loss = 0.01682150
Iteration 7, loss = 0.01561610
Iteration 8, loss = 0.01318990
Iteration 9, loss = 0.01289851
Iteration 10, loss = 0.01205242
Iteration 11, loss = 0.01192428
Iteration 12, loss = 0.01150116
Iteration 13, loss = 0.01127402
Iteration 14, loss = 0.01108473
Iteration 15, loss = 0.01104234
Iteration 16, loss = 0.01091287
Iteration 17, loss = 0.01077035
Iteration 18, loss = 0.01070040
Iteration 19, loss = 0.01062447
Iteration 20, loss = 0.01052982
Iteration 21, loss = 0.01048913
Iteration 22, loss = 0.01038207
Iteration 23, loss = 0.01041259
Iteration 24, loss = 0.01030999
Iteration 25, loss = 0.01065676
Iteration 26, loss = 0.01033386
Iteration 27, loss = 0.01039076
Iteration 28, loss = 0.01028633
Iteration 29, loss = 0.01026498
Iteration 30, loss = 0.01016587
Iteration 31, loss = 0.01005991
Iteration 32, loss = 0.01002577
Iteration 33, loss = 0.01009757
Iteration 34, loss = 0.01019489
Iteration 35, loss = 0.01049007
Iteration 36, loss = 0.01007536
Iteration 37, loss = 0.01000108
Iteration 38, loss = 0.00997931
Iteration 39, loss = 0.01007759
Iteration 40, loss = 0.00992265
Iteration 41, loss = 0.01033943
Iteration 42, loss = 0.00999666
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
MSE:  0.018674046046509917
MAE:  0.1056149322184779
R2:  0.2507992561635022

In [68]:
# nuevo_dato = {
#     "career": "ingeniería de Sistemas",
#     "semester": 7,
#     "keywords": [
#       "física",
#     ],
#     "subject": "física",
#     "subject_career": "ingeniería de xd",
#     "subject_semester": 7
#   }

# nuevo_dato['career'] = nuevo_dato['career'].lower()
# nuevo_dato['keywords'] = list (map(lambda x: x.lower(), nuevo_dato['keywords']))
# nuevo_dato['subject'] = nuevo_dato['subject'].lower()
# nuevo_dato['subject_career'] = nuevo_dato['subject_career'].lower().split(",")

# nuevo_dato['career'] = " ".join([word for word in nuevo_dato['career'].split() if word not in STOP_WORDS])
# nuevo_dato['subject_career'] = [" ".join([word for word in carreras.split() if word not in STOP_WORDS]) for carreras in nuevo_dato['subject_career']]
# nuevo_dato['subject'] = " ".join([word for word in nuevo_dato['subject'].split() if word not in STOP_WORDS])

# nuevo_dato['keywords'] = [" ".join(keywords) for keywords in [nuevo_dato['keywords']]]
# nuevo_dato['subject_career'] = [" ".join(carreras) for carreras in [nuevo_dato['subject_career']]]

# # nuevo_dato['career'] = [palabra.vector for palabra in [nlp(carreras) for carreras in [nuevo_dato['career']]]]
# # nuevo_dato['subject'] = [palabra.vector for palabra in [nlp(carreras) for carreras in [nuevo_dato['subject']]]]
# # nuevo_dato['keywords'] = [palabra.vector for palabra in [nlp(carreras) for carreras in nuevo_dato['keywords']]]
# # nuevo_dato['subject_career'] = [palabra.vector for palabra in [nlp(carreras) for carreras in nuevo_dato['subject_career']]]

# scaler = MinMaxScaler()
# nuevo_dato['career'] = [palabra.vector.mean() for palabra in [nlp(carreras) for carreras in [nuevo_dato['career']]]]
# nuevo_dato['subject'] = [palabra.vector.mean() for palabra in [nlp(carreras) for carreras in [nuevo_dato['subject']]]]
# nuevo_dato['keywords'] = [palabra.vector.mean() for palabra in [nlp(carreras) for carreras in nuevo_dato['keywords']]]
# nuevo_dato['subject_career'] = [palabra.vector.mean() for palabra in [nlp(carreras) for carreras in nuevo_dato['subject_career']]]

# nuevo_dato = pd.DataFrame(nuevo_dato)

# carreras = [carrera for carrera in nuevo_dato['career']]
# carreras = [[x] for x in carreras]

# keywords = [keyword for keyword in nuevo_dato['keywords']]
# keywords = [[x] for x in keywords]

# semester = [semester for semester in nuevo_dato['semester']]
# semester = [[x] for x in semester]

# subject = [subject for subject in nuevo_dato['subject']]
# subject = [[x] for x in subject]

# subject_career = [subject for subject in nuevo_dato['subject_career']]
# subject_career = [[x] for x in subject_career]

# subject_semester = [subject for subject in nuevo_dato['subject_semester']]
# subject_semester = [[x] for x in subject_semester]

# x = np.concatenate((keywords, semester, subject, subject_semester), axis=1)

# print(x)
# y_pred = mlp.predict(x)
# print(y_pred)