In [82]:
import pandas as pd
import numpy as np

pf = pd.read_json('subjectScores.json', encoding='utf-8')

pf.drop(['email'], axis=1, inplace=True) # Se elimina el email porque no es necesario
pf.head()

,career,semester,keywords,subject,subject_career,subject_semester,subject_score
0,Tecnología en Electrónica,2,"[Fundamentos, de, Programación]",Comercio Exterior,"Administración de Empresas, Contaduría",6,0.0
1,Tecnología en Electrónica,2,[Fundamentos],Diseño Organizacional,Administración de Empresas,2,0.0
2,Tecnología en Electrónica,2,[Fundamentos],Economía de Empresa,Administración de Empresas,3,0.0
3,Tecnología en Electrónica,2,[Fundamentos],Entorno Organizacional,Administración de Empresas,4,0.0
4,Tecnología en Electrónica,2,[Fundamentos],Estrategia y Planeación,Administración de Empresas,5,0.0

In [83]:
from sklearn.preprocessing import StandardScaler
scal = StandardScaler()
score = scal.fit_transform(pf[['subject_score']].values)
pf['subject_score'] = score
pf.head()

,career,semester,keywords,subject,subject_career,subject_semester,subject_score
0,Tecnología en Electrónica,2,"[Fundamentos, de, Programación]",Comercio Exterior,"Administración de Empresas, Contaduría",6,-0.36676
1,Tecnología en Electrónica,2,[Fundamentos],Diseño Organizacional,Administración de Empresas,2,-0.36676
2,Tecnología en Electrónica,2,[Fundamentos],Economía de Empresa,Administración de Empresas,3,-0.36676
3,Tecnología en Electrónica,2,[Fundamentos],Entorno Organizacional,Administración de Empresas,4,-0.36676
4,Tecnología en Electrónica,2,[Fundamentos],Estrategia y Planeación,Administración de Empresas,5,-0.36676

In [84]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
pf[['semester', 'subject_semester']] = scaler.fit_transform(pf[['semester', 'subject_semester']]) # Se normalizan los datos
pf.head()

,career,semester,keywords,subject,subject_career,subject_semester,subject_score
0,Tecnología en Electrónica,0.111111,"[Fundamentos, de, Programación]",Comercio Exterior,"Administración de Empresas, Contaduría",0.555556,-0.36676
1,Tecnología en Electrónica,0.111111,[Fundamentos],Diseño Organizacional,Administración de Empresas,0.111111,-0.36676
2,Tecnología en Electrónica,0.111111,[Fundamentos],Economía de Empresa,Administración de Empresas,0.222222,-0.36676
3,Tecnología en Electrónica,0.111111,[Fundamentos],Entorno Organizacional,Administración de Empresas,0.333333,-0.36676
4,Tecnología en Electrónica,0.111111,[Fundamentos],Estrategia y Planeación,Administración de Empresas,0.444444,-0.36676

In [85]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse=False)
career_one_hot = enc.fit_transform(pf['career'].values.reshape(-1, 1)) # Se convierte la carrera en one hot
career_columns = enc.get_feature_names_out(['career'])
career_df = pd.DataFrame(career_one_hot, columns=career_columns) # Se crea un dataframe con las columnas de la carrera
pf = pd.concat([pf, career_df], axis=1) # Se agrega el dataframe de la carrera al dataframe principal
pf = pf.drop(['career'], axis=1) # Se elimina la columna de la carrera
pf.head()

d:\Trabajo de grado\backend2\Backend_tutorias_fastAPI\myenv\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,semester,keywords,subject,subject_career,subject_semester,subject_score,career_Administración de empresas,career_Construcción,career_Contaduría,career_Ingeniería de Alimentos,career_Ingeniería de Sistemas,career_Nutrición y Dietética,career_Tecnología en Desarrollo de Software,career_Tecnología en Electrónica,career_Trabajo social
0,0.111111,"[Fundamentos, de, Programación]",Comercio Exterior,"Administración de Empresas, Contaduría",0.555556,-0.36676,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.111111,[Fundamentos],Diseño Organizacional,Administración de Empresas,0.111111,-0.36676,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.111111,[Fundamentos],Economía de Empresa,Administración de Empresas,0.222222,-0.36676,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.111111,[Fundamentos],Entorno Organizacional,Administración de Empresas,0.333333,-0.36676,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.111111,[Fundamentos],Estrategia y Planeación,Administración de Empresas,0.444444,-0.36676,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [86]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
subject_career_one_hot = mlb.fit_transform(pf['subject_career'].str.split(', ')) # Se convierte la materia en one hot
subject_career_columns = mlb.classes_
subject_career_df = pd.DataFrame(subject_career_one_hot, columns=subject_career_columns) # Se crea un dataframe con las columnas de la materia
pf = pd.concat([pf, subject_career_df], axis=1) # Se agrega el dataframe de la materia al dataframe principal
pf = pf.drop(['subject_career'], axis=1) # Se elimina la columna de la materia
print(pf['Administración de Empresas'][0])
pf.head()

1

,semester,keywords,subject,subject_semester,subject_score,career_Administración de empresas,career_Construcción,career_Contaduría,career_Ingeniería de Alimentos,career_Ingeniería de Sistemas,...,Administración de Empresas,Construcción,Contaduría,Ingeniería de Alimentos,Ingeniería de Sistemas,Nutricion y Dietetica,Nutrición y Dietética,Tecnología en Desarrollo de Software,Tecnología en Electrónica,Trabajo social
0,0.111111,"[Fundamentos, de, Programación]",Comercio Exterior,0.555556,-0.36676,0.0,0.0,0.0,0.0,0.0,...,1,0,1,0,0,0,0,0,0,0
1,0.111111,[Fundamentos],Diseño Organizacional,0.111111,-0.36676,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,0
2,0.111111,[Fundamentos],Economía de Empresa,0.222222,-0.36676,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,0
3,0.111111,[Fundamentos],Entorno Organizacional,0.333333,-0.36676,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,0
4,0.111111,[Fundamentos],Estrategia y Planeación,0.444444,-0.36676,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,0

In [87]:
from spacy.lang.es.stop_words import STOP_WORDS
pf ['keywords'] = [list (filter(lambda x: isinstance(x,str) and x not in STOP_WORDS , y)) for y in pf['keywords']] # Se eliminan las palabras vacias
pf.head()

,semester,keywords,subject,subject_semester,subject_score,career_Administración de empresas,career_Construcción,career_Contaduría,career_Ingeniería de Alimentos,career_Ingeniería de Sistemas,...,Administración de Empresas,Construcción,Contaduría,Ingeniería de Alimentos,Ingeniería de Sistemas,Nutricion y Dietetica,Nutrición y Dietética,Tecnología en Desarrollo de Software,Tecnología en Electrónica,Trabajo social
0,0.111111,"[Fundamentos, Programación]",Comercio Exterior,0.555556,-0.36676,0.0,0.0,0.0,0.0,0.0,...,1,0,1,0,0,0,0,0,0,0
1,0.111111,[Fundamentos],Diseño Organizacional,0.111111,-0.36676,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,0
2,0.111111,[Fundamentos],Economía de Empresa,0.222222,-0.36676,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,0
3,0.111111,[Fundamentos],Entorno Organizacional,0.333333,-0.36676,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,0
4,0.111111,[Fundamentos],Estrategia y Planeación,0.444444,-0.36676,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,0

In [88]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(lowercase=True)
tfidf_key_words = vectorizer.fit_transform(pf['keywords'].apply(lambda x: ' '.join(x))) # Se convierten las palabras clave en tfidf
pf['keywords'] = np.array(tfidf_key_words.toarray()) # Se agrega la columna de tfidf al dataframe principal
pf.head()

,semester,keywords,subject,subject_semester,subject_score,career_Administración de empresas,career_Construcción,career_Contaduría,career_Ingeniería de Alimentos,career_Ingeniería de Sistemas,...,Administración de Empresas,Construcción,Contaduría,Ingeniería de Alimentos,Ingeniería de Sistemas,Nutricion y Dietetica,Nutrición y Dietética,Tecnología en Desarrollo de Software,Tecnología en Electrónica,Trabajo social
0,0.111111,0.0,Comercio Exterior,0.555556,-0.36676,0.0,0.0,0.0,0.0,0.0,...,1,0,1,0,0,0,0,0,0,0
1,0.111111,0.0,Diseño Organizacional,0.111111,-0.36676,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,0
2,0.111111,0.0,Economía de Empresa,0.222222,-0.36676,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,0
3,0.111111,0.0,Entorno Organizacional,0.333333,-0.36676,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,0
4,0.111111,0.0,Estrategia y Planeación,0.444444,-0.36676,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,0

In [89]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
label_subject = label_encoder.fit_transform(pf['subject']) # Se convierte la materia en un label
pf = pf.drop(['subject'], axis=1) # Se elimina la columna de la materia
pf['subject'] = label_subject # Se agrega la columna de label al dataframe principal
pf.head()

,semester,keywords,subject_semester,subject_score,career_Administración de empresas,career_Construcción,career_Contaduría,career_Ingeniería de Alimentos,career_Ingeniería de Sistemas,career_Nutrición y Dietética,...,Construcción,Contaduría,Ingeniería de Alimentos,Ingeniería de Sistemas,Nutricion y Dietetica,Nutrición y Dietética,Tecnología en Desarrollo de Software,Tecnología en Electrónica,Trabajo social,subject
0,0.111111,0.0,0.555556,-0.36676,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1,0,0,0,0,0,0,0,13
1,0.111111,0.0,0.111111,-0.36676,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,24
2,0.111111,0.0,0.222222,-0.36676,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,25
3,0.111111,0.0,0.333333,-0.36676,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,29
4,0.111111,0.0,0.444444,-0.36676,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,32

In [90]:
from sklearn.model_selection import train_test_split
x = pf.drop(['subject_score'], axis=1) # Se separa la columna de la materia
y = pf['subject_score'] # Se separa la columna de la nota
X_train, X_test, y_train, y_test = train_test_split(x, y, random_state=42, test_size=0.2) # Se separan los datos en train y test
print(X_train.shape, y_train.shape, X_test.shape, y_test.shape)

(4931, 23) (4931,) (1233, 23) (1233,)

In [91]:
from keras.models import Sequential
from keras.layers import Dense

n_features = X_train.shape[1] # Se obtiene la cantidad de features
model = Sequential() # Se crea el modelo
model.add(Dense(100, activation='relu', kernel_initializer='he_normal', input_shape=(n_features,))) # Se agrega la capa de entrada
model.add(Dense(50, activation='relu', kernel_initializer='he_normal')) # Se agrega la capa oculta
model.add(Dense(1)) # Se agrega la capa de salida
model.compile(optimizer='adam', loss='mse') # Se compila el modelo
model.fit(X_train, y_train, epochs=150, batch_size=32, verbose=2) # Se entrena el modelo

Epoch 1/150
155/155 - 1s - loss: 8.9663 - 1s/epoch - 8ms/step
Epoch 2/150
155/155 - 0s - loss: 0.7919 - 355ms/epoch - 2ms/step
Epoch 3/150
155/155 - 0s - loss: 0.6919 - 314ms/epoch - 2ms/step
Epoch 4/150
155/155 - 0s - loss: 0.6330 - 288ms/epoch - 2ms/step
Epoch 5/150
155/155 - 0s - loss: 0.5507 - 300ms/epoch - 2ms/step
Epoch 6/150
155/155 - 0s - loss: 0.4735 - 317ms/epoch - 2ms/step
Epoch 7/150
155/155 - 0s - loss: 0.4121 - 333ms/epoch - 2ms/step
Epoch 8/150
155/155 - 0s - loss: 0.3399 - 331ms/epoch - 2ms/step
Epoch 9/150
155/155 - 0s - loss: 0.2935 - 327ms/epoch - 2ms/step
Epoch 10/150
155/155 - 0s - loss: 0.2744 - 371ms/epoch - 2ms/step
Epoch 11/150
155/155 - 0s - loss: 0.2268 - 305ms/epoch - 2ms/step
Epoch 12/150
155/155 - 0s - loss: 0.2369 - 268ms/epoch - 2ms/step
Epoch 13/150
155/155 - 0s - loss: 0.1917 - 289ms/epoch - 2ms/step
Epoch 14/150
155/155 - 0s - loss: 0.2066 - 227ms/epoch - 1ms/step
Epoch 15/150
155/155 - 0s - loss: 0.1943 - 237ms/epoch - 2ms/step
Epoch 16/150
155/155 - 0s - loss: 0.1943 - 224ms/epoch - 1ms/step
Epoch 17/150
155/155 - 0s - loss: 0.1701 - 270ms/epoch - 2ms/step
Epoch 18/150
155/155 - 0s - loss: 0.1519 - 332ms/epoch - 2ms/step
Epoch 19/150
155/155 - 0s - loss: 0.1559 - 227ms/epoch - 1ms/step
Epoch 20/150
155/155 - 0s - loss: 0.1688 - 251ms/epoch - 2ms/step
Epoch 21/150
155/155 - 0s - loss: 0.1476 - 240ms/epoch - 2ms/step
Epoch 22/150
155/155 - 0s - loss: 0.1475 - 246ms/epoch - 2ms/step
Epoch 23/150
155/155 - 0s - loss: 0.1463 - 263ms/epoch - 2ms/step
Epoch 24/150
155/155 - 0s - loss: 0.1557 - 289ms/epoch - 2ms/step
Epoch 25/150
155/155 - 0s - loss: 0.2176 - 232ms/epoch - 1ms/step
Epoch 26/150
155/155 - 0s - loss: 0.1490 - 257ms/epoch - 2ms/step
Epoch 27/150
155/155 - 0s - loss: 0.1631 - 259ms/epoch - 2ms/step
Epoch 28/150
155/155 - 0s - loss: 0.1397 - 242ms/epoch - 2ms/step
Epoch 29/150
155/155 - 0s - loss: 0.1543 - 258ms/epoch - 2ms/step
Epoch 30/150
155/155 - 0s - loss: 0.1633 - 251ms/epoch - 2ms/step
Epoch 31/150
155/155 - 0s - loss: 0.1568 - 227ms/epoch - 1ms/step
Epoch 32/150
155/155 - 0s - loss: 0.1849 - 227ms/epoch - 1ms/step
Epoch 33/150
155/155 - 0s - loss: 0.1629 - 225ms/epoch - 1ms/step
Epoch 34/150
155/155 - 0s - loss: 0.1680 - 227ms/epoch - 1ms/step
Epoch 35/150
155/155 - 0s - loss: 0.1507 - 292ms/epoch - 2ms/step
Epoch 36/150
155/155 - 0s - loss: 0.1324 - 230ms/epoch - 1ms/step
Epoch 37/150
155/155 - 0s - loss: 0.1302 - 230ms/epoch - 1ms/step
Epoch 38/150
155/155 - 0s - loss: 0.1267 - 259ms/epoch - 2ms/step
Epoch 39/150
155/155 - 0s - loss: 0.2317 - 246ms/epoch - 2ms/step
Epoch 40/150
155/155 - 0s - loss: 0.1014 - 259ms/epoch - 2ms/step
Epoch 41/150
155/155 - 0s - loss: 0.1596 - 263ms/epoch - 2ms/step
Epoch 42/150
155/155 - 0s - loss: 0.1120 - 233ms/epoch - 2ms/step
Epoch 43/150
155/155 - 0s - loss: 0.1309 - 255ms/epoch - 2ms/step
Epoch 44/150
155/155 - 0s - loss: 0.1242 - 262ms/epoch - 2ms/step
Epoch 45/150
155/155 - 0s - loss: 0.1542 - 234ms/epoch - 2ms/step
Epoch 46/150
155/155 - 0s - loss: 0.1410 - 259ms/epoch - 2ms/step
Epoch 47/150
155/155 - 0s - loss: 0.1092 - 258ms/epoch - 2ms/step
Epoch 48/150
155/155 - 0s - loss: 0.1206 - 227ms/epoch - 1ms/step
Epoch 49/150
155/155 - 0s - loss: 0.1227 - 227ms/epoch - 1ms/step
Epoch 50/150
155/155 - 0s - loss: 0.1449 - 225ms/epoch - 1ms/step
Epoch 51/150
155/155 - 0s - loss: 0.1064 - 292ms/epoch - 2ms/step
Epoch 52/150
155/155 - 0s - loss: 0.1396 - 225ms/epoch - 1ms/step
Epoch 53/150
155/155 - 0s - loss: 0.1460 - 225ms/epoch - 1ms/step
Epoch 54/150
155/155 - 0s - loss: 0.1321 - 278ms/epoch - 2ms/step
Epoch 55/150
155/155 - 0s - loss: 0.2147 - 224ms/epoch - 1ms/step
Epoch 56/150
155/155 - 0s - loss: 0.1100 - 231ms/epoch - 1ms/step
Epoch 57/150
155/155 - 0s - loss: 0.1071 - 255ms/epoch - 2ms/step
Epoch 58/150
155/155 - 0s - loss: 0.0978 - 265ms/epoch - 2ms/step
Epoch 59/150
155/155 - 0s - loss: 0.1047 - 233ms/epoch - 2ms/step
Epoch 60/150
155/155 - 0s - loss: 0.0962 - 256ms/epoch - 2ms/step
Epoch 61/150
155/155 - 0s - loss: 0.1447 - 263ms/epoch - 2ms/step
Epoch 62/150
155/155 - 0s - loss: 0.1289 - 224ms/epoch - 1ms/step
Epoch 63/150
155/155 - 0s - loss: 0.1554 - 252ms/epoch - 2ms/step
Epoch 64/150
155/155 - 0s - loss: 0.0978 - 263ms/epoch - 2ms/step
Epoch 65/150
155/155 - 0s - loss: 0.1310 - 237ms/epoch - 2ms/step
Epoch 66/150
155/155 - 0s - loss: 0.1032 - 225ms/epoch - 1ms/step
Epoch 67/150
155/155 - 0s - loss: 0.1224 - 225ms/epoch - 1ms/step
Epoch 68/150
155/155 - 0s - loss: 0.1381 - 227ms/epoch - 1ms/step
Epoch 69/150
155/155 - 0s - loss: 0.1344 - 224ms/epoch - 1ms/step
Epoch 70/150
155/155 - 0s - loss: 0.1217 - 224ms/epoch - 1ms/step
Epoch 71/150
155/155 - 0s - loss: 0.1074 - 240ms/epoch - 2ms/step
Epoch 72/150
155/155 - 0s - loss: 0.1161 - 295ms/epoch - 2ms/step
Epoch 73/150
155/155 - 0s - loss: 0.1108 - 277ms/epoch - 2ms/step
Epoch 74/150
155/155 - 0s - loss: 0.0988 - 259ms/epoch - 2ms/step
Epoch 75/150
155/155 - 0s - loss: 0.1153 - 280ms/epoch - 2ms/step
Epoch 76/150
155/155 - 0s - loss: 0.1020 - 265ms/epoch - 2ms/step
Epoch 77/150
155/155 - 0s - loss: 0.1133 - 250ms/epoch - 2ms/step
Epoch 78/150
155/155 - 0s - loss: 0.0965 - 288ms/epoch - 2ms/step
Epoch 79/150
155/155 - 0s - loss: 0.1192 - 279ms/epoch - 2ms/step
Epoch 80/150
155/155 - 0s - loss: 0.1532 - 261ms/epoch - 2ms/step
Epoch 81/150
155/155 - 0s - loss: 0.1150 - 255ms/epoch - 2ms/step
Epoch 82/150
155/155 - 0s - loss: 0.1086 - 249ms/epoch - 2ms/step
Epoch 83/150
155/155 - 0s - loss: 0.1092 - 228ms/epoch - 1ms/step
Epoch 84/150
155/155 - 0s - loss: 0.1266 - 226ms/epoch - 1ms/step
Epoch 85/150
155/155 - 0s - loss: 0.0996 - 222ms/epoch - 1ms/step
Epoch 86/150
155/155 - 0s - loss: 0.0968 - 222ms/epoch - 1ms/step
Epoch 87/150
155/155 - 0s - loss: 0.0894 - 244ms/epoch - 2ms/step
Epoch 88/150
155/155 - 0s - loss: 0.0922 - 290ms/epoch - 2ms/step
Epoch 89/150
155/155 - 0s - loss: 0.0885 - 263ms/epoch - 2ms/step
Epoch 90/150
155/155 - 0s - loss: 0.0860 - 229ms/epoch - 1ms/step
Epoch 91/150
155/155 - 0s - loss: 0.0862 - 244ms/epoch - 2ms/step
Epoch 92/150
155/155 - 0s - loss: 0.1228 - 279ms/epoch - 2ms/step
Epoch 93/150
155/155 - 0s - loss: 0.1071 - 282ms/epoch - 2ms/step
Epoch 94/150
155/155 - 0s - loss: 0.0833 - 278ms/epoch - 2ms/step
Epoch 95/150
155/155 - 0s - loss: 0.1174 - 276ms/epoch - 2ms/step
Epoch 96/150
155/155 - 0s - loss: 0.0815 - 263ms/epoch - 2ms/step
Epoch 97/150
155/155 - 0s - loss: 0.0867 - 313ms/epoch - 2ms/step
Epoch 98/150
155/155 - 0s - loss: 0.1156 - 282ms/epoch - 2ms/step
Epoch 99/150
155/155 - 0s - loss: 0.0797 - 230ms/epoch - 1ms/step
Epoch 100/150
155/155 - 0s - loss: 0.0873 - 347ms/epoch - 2ms/step
Epoch 101/150
155/155 - 0s - loss: 0.1074 - 246ms/epoch - 2ms/step
Epoch 102/150
155/155 - 0s - loss: 0.1090 - 253ms/epoch - 2ms/step
Epoch 103/150
155/155 - 0s - loss: 0.1017 - 237ms/epoch - 2ms/step
Epoch 104/150
155/155 - 0s - loss: 0.0858 - 227ms/epoch - 1ms/step
Epoch 105/150
155/155 - 0s - loss: 0.0790 - 233ms/epoch - 2ms/step
Epoch 106/150
155/155 - 0s - loss: 0.0955 - 272ms/epoch - 2ms/step
Epoch 107/150
155/155 - 0s - loss: 0.1101 - 270ms/epoch - 2ms/step
Epoch 108/150
155/155 - 0s - loss: 0.1391 - 299ms/epoch - 2ms/step
Epoch 109/150
155/155 - 0s - loss: 0.0971 - 290ms/epoch - 2ms/step
Epoch 110/150
155/155 - 0s - loss: 0.0853 - 249ms/epoch - 2ms/step
Epoch 111/150
155/155 - 0s - loss: 0.0824 - 259ms/epoch - 2ms/step
Epoch 112/150
155/155 - 0s - loss: 0.0857 - 250ms/epoch - 2ms/step
Epoch 113/150
155/155 - 0s - loss: 0.0955 - 243ms/epoch - 2ms/step
Epoch 114/150
155/155 - 0s - loss: 0.0821 - 264ms/epoch - 2ms/step
Epoch 115/150
155/155 - 0s - loss: 0.0784 - 265ms/epoch - 2ms/step
Epoch 116/150
155/155 - 0s - loss: 0.0900 - 242ms/epoch - 2ms/step
Epoch 117/150
155/155 - 0s - loss: 0.0779 - 236ms/epoch - 2ms/step
Epoch 118/150
155/155 - 0s - loss: 0.1240 - 237ms/epoch - 2ms/step
Epoch 119/150
155/155 - 0s - loss: 0.1120 - 223ms/epoch - 1ms/step
Epoch 120/150
155/155 - 0s - loss: 0.0981 - 227ms/epoch - 1ms/step
Epoch 121/150
155/155 - 0s - loss: 0.0849 - 224ms/epoch - 1ms/step
Epoch 122/150
155/155 - 0s - loss: 0.0792 - 219ms/epoch - 1ms/step
Epoch 123/150
155/155 - 0s - loss: 0.0994 - 221ms/epoch - 1ms/step
Epoch 124/150
155/155 - 0s - loss: 0.0869 - 301ms/epoch - 2ms/step
Epoch 125/150
155/155 - 0s - loss: 0.0827 - 284ms/epoch - 2ms/step
Epoch 126/150
155/155 - 0s - loss: 0.0756 - 264ms/epoch - 2ms/step
Epoch 127/150
155/155 - 0s - loss: 0.0776 - 241ms/epoch - 2ms/step
Epoch 128/150
155/155 - 1s - loss: 0.0800 - 511ms/epoch - 3ms/step
Epoch 129/150
155/155 - 0s - loss: 0.0921 - 429ms/epoch - 3ms/step
Epoch 130/150
155/155 - 0s - loss: 0.0966 - 294ms/epoch - 2ms/step
Epoch 131/150
155/155 - 0s - loss: 0.0748 - 258ms/epoch - 2ms/step
Epoch 132/150
155/155 - 0s - loss: 0.0920 - 285ms/epoch - 2ms/step
Epoch 133/150
155/155 - 0s - loss: 0.0776 - 478ms/epoch - 3ms/step
Epoch 134/150
155/155 - 0s - loss: 0.0870 - 483ms/epoch - 3ms/step
Epoch 135/150
155/155 - 1s - loss: 0.0839 - 503ms/epoch - 3ms/step
Epoch 136/150
155/155 - 1s - loss: 0.0928 - 649ms/epoch - 4ms/step
Epoch 137/150
155/155 - 1s - loss: 0.0789 - 659ms/epoch - 4ms/step
Epoch 138/150
155/155 - 0s - loss: 0.0759 - 483ms/epoch - 3ms/step
Epoch 139/150
155/155 - 0s - loss: 0.0807 - 445ms/epoch - 3ms/step
Epoch 140/150
155/155 - 0s - loss: 0.0806 - 463ms/epoch - 3ms/step
Epoch 141/150
155/155 - 0s - loss: 0.0736 - 408ms/epoch - 3ms/step
Epoch 142/150
155/155 - 0s - loss: 0.0817 - 479ms/epoch - 3ms/step
Epoch 143/150
155/155 - 1s - loss: 0.1182 - 543ms/epoch - 4ms/step
Epoch 144/150
155/155 - 0s - loss: 0.0747 - 423ms/epoch - 3ms/step
Epoch 145/150
155/155 - 0s - loss: 0.0743 - 387ms/epoch - 2ms/step
Epoch 146/150
155/155 - 0s - loss: 0.0794 - 425ms/epoch - 3ms/step
Epoch 147/150
155/155 - 0s - loss: 0.0796 - 366ms/epoch - 2ms/step
Epoch 148/150
155/155 - 0s - loss: 0.0737 - 398ms/epoch - 3ms/step
Epoch 149/150
155/155 - 1s - loss: 0.0839 - 652ms/epoch - 4ms/step
Epoch 150/150
155/155 - 1s - loss: 0.0757 - 553ms/epoch - 4ms/step

In [92]:
y_pred = model.predict(X_test) # Se obtienen las predicciones
y_pred

39/39 [==============================] - 0s 4ms/step

array([[-0.4389538 ],
       [-0.48883885],
       [ 2.5170183 ],
       ...,
       [-0.37270772],
       [-0.34786662],
       [-0.24475467]], dtype=float32)

In [93]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
print('MSE: ', mean_squared_error(y_test, y_pred))
print('MAE: ', mean_absolute_error(y_test, y_pred))
print('R2: ', r2_score(y_test, y_pred))

MSE:  0.10365712514097021
MAE:  0.16709923927591402
R2:  0.9073001644898165

In [94]:
# model.save('subjectScores.h5') # Se guarda el modelo